<style type="text/css">
html,body {
	overflow: hidden;
}
</style>
<div align="center">
  <div id="resized_header">$includeNamed{'header'}</div>
  <div id="resized_menu">
    <div id="resized_navigation_bar">${page.getNavigationBar(parameter)}</div>
    <div id="resized_menu_bar"></div>
  </div>
  <div id="resized_toolbar">${page.toTabsHTML(parameter)}</div>
  <div id="resized_body">
    <div class="child">
      <div class="bar">
        ${page._toBarHTML(parameter)}
      </div>
      ${content}
    </div>
  </div>
  <div id="resized_footer">$includeNamed{'footer'}</div>
</div>
<script type="text/javascript">
	$ready(function() {
		var header = $('resized_header');
		var footer = $('resized_footer');
		var menu = $('resized_menu');
		var toolbar = $('resized_toolbar');
		var m = $('#resized_body .child');
		var r = function() {
			var height = document.viewport.getHeight() - header.getHeight()
					- menu.getHeight() - toolbar.getHeight() - footer.getHeight();
			m.setStyle('height: ' + height + 'px');
			m.fire("size:body");
		};
		r.defer();
		Event.observe(window, "resize", r);
	});
</script>